title {
  font-size : large;
  font-weight : bold;
  text-align : center;
  display : block;
}

ingredients {
  display : block;
  margin-top : 18px;
}

ing {
  display : block;
}

directions  {
  display : block;
  margin-top : 18px;
}

step {
  display : block;
}
